.boardContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: solid 1px #999;
  width: 400px;
  height: 400px;
}

.playerStatus {
  margin-bottom: 10px;
  font-size: 20px;
}
.board {
  display: flex;
  justify-content: center;
  align-items: center;
}
.boardRow::after {
  clear: both;
  content: "";
  display: table;
}
.button {
  background-color: #3d4578; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 15px;
}
